/* this font's sick */
@font-face {
    font-family: 'cascadia code';
    src: url('../fonts/CascadiaCode.eot');
    src: url('../fonts/CascadiaCode.ttf') format('truetype'),
    url('../fonts/CascadiaCode.woff') format('woff'), 
    url('../fonts/CascadiaCode.woff2') format('woff2');
}

/* everything but phones */
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'cascadia code';
    color: white;
    background-size: cover;
    background-position: center;
    background-color: #002f95;
}


.links{
    text-decoration: none;
    color: white;
    opacity: .8;
}
.ppl{
    font-size: 7.5pt;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.64);
    opacity: .8;
    text-decoration: none;    
}
#top-links{
    
    width: 93vw;
    height: 10vh;
    list-style: none;
    display: inline-block;
    align-items: center;
    text-align: center;
    position: absolute;
    font-size: 100%;
    top: 2px;
}
#top-links > li{
    display: inline-block;
}
#ppl-div{
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}
#ppl-list{
    text-align: center;
    columns: 2;
    margin-left: -16px;
    margin-top: 60px;
}
.class{
    text-align: center;
}

.l{
    margin-left: 4vw;
    margin-right: 3.5vw;

}
#spacer{
    width: 100%;
    height: 100px;
}
.link-spacing{
    margin-left: 4vw;
}
.resource{
    margin-left: 4vw;
    margin-right: 5vw;

}
.title{
    font-size: 7vw;
    margin-left: 12vw;
    margin-top: 160px;
}
.bio{
    position: absolute;
    text-align: left;
    margin-left: 13.5vw;
    margin-right: 53vw;
    margin-top: -10px;
    max-width: 670px;
    min-width: 250px;
    font-size: max(1.5vw, 12pt);
    letter-spacing: .5px;
}
.img{
    width: 250px;
    height: 250px;
}
.hpe-img{
    width: 250px;

}
.digital-img{
    width: 250px;
}
.graphic{
    position: absolute;
    right: 0;
    margin-right: 15%;
    width: 22vw;
    max-height: 500px;
    border-radius: 10px;
    z-index: 1;
    filter: drop-shadow(0px 0px 15px #100032);
}
.lineB{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.decoration{
    font-size: 20px;
    position: absolute;
    width: 90vw;
    height: 100px;
    margin-left: 35px;
    text-align: center;
    margin-top: 100px;
    line-height: 35px;
}
.mail{
    text-align: center;
    background-color: white;
    border-radius: 3px;
    padding-left: 13px;
    padding-top: 5px;
    padding-right: 13px;
    padding-bottom: 5px;
    margin-bottom: 30px;    color: black;
    border-color: rgb(253, 205, 2);
    border-width: 2px;
    cursor: pointer;
    font-family: 'cascadia code';
    margin-left: 10px;
    transition: background-color .15s, color .15s;

}
.mail:hover{
    background-color: rgb(253, 205, 2);
    text-decoration: underline;
}
.mail:active{
    opacity: 0.7;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgba(76, 44, 255, 0.779);
    opacity: .1;
}
::-webkit-scrollbar-thumb{
    background: rgb(67, 67, 67);
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(21, 21, 21);
}


.lineT{
    max-width: 1000px;
    border: 0;
    margin-top: 50px;
    height: 1px;
    background-image: linear-gradient(to right, rgba(130, 130, 130, .2), rgba(130, 130, 130, 0.75), rgba(130, 130, 130, .2));
}
